html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  margin-right: 5px;
  text-decoration: none;
  border: solid 1px black;
  padding: 5px;
}

* {
  box-sizing: border-box;
}

.logo{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  
}

.menu-bar{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  /* border: solid 1px red; */
}

.footer{
  bottom: 0px;
  height: 60px;
  width: 100%;
  background-color: lightslategray;
  text-align: center;
  position: absolute;
  margin: 0;
}
 .footer p {
  font-weight: 700;
  color: aliceblue;
 }


